/* Fonts */


/* Variables */
:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red-base: #FB565A;
    --color-red-focus: #E74246;
    --color-red-active: #D7373B;
    --color-green-base: #00CA74;
    --color-green-focus: #00BC6C;
    --color-green-active: #00AA62;
    --color-yellow-base: #EFC849;
    --color-yellow-focus: #EAB534;
    --color-yellow-active: #E5A722;
    --color-grey-base: #EEEEEE;
    --color-grey-focus: #DFDFDF;
    --color-grey-active: #D5D5D5;
    --color-dark-grey: #4D4D4D;
    --color-grey-light: #E1E1E1;
    --color-grey-light2: #DBDBDB;
    --color-grey-border: #D7DCDE;
    --color-grey-border-focus: #B4B9BB;
    --color-grey-text: #283136;
    --color-grey-text-light: #666666;
}

/* Global */
body {
  min-width: 960px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
header {
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
a:hover {
  color: var(--color-red-base);
}
a:active {
  color: rgba(0, 1, 1, 0.3);
}
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
  padding: 16px 14px;
  line-height: 18px;
  border-radius: 3px;
  border: 2px solid var(--color-grey-border);
  background: var(--color-white);
}
input:hover,
textarea:hover {
  border: 2px solid var(--color-grey-border-focus);
}
input:focus,
textarea:focus {
  border: 2px solid var(--color-black);
  color: var(--color-black);
}
input:invalid,
textarea:invalid {
  border: 2px solid var(--color-red-focus);
  color: var(--color-red-focus);
}

/* Text */
.h1 {
  color: var(--color-black);
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
}
.h2 {
  color: var(--color-black);
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}
.h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.text-bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
legend.text-bold,
h3.text-bold {
  text-transform: uppercase;
}
.subtitle {
  color: var(--color-black);
  font-weight: 700;
  text-transform: uppercase;
}
.footer-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.footer-subtitle {
  color: var(--color-dark-grey);
  font-style: normal;
  line-height: 22px;
}
.character p,
.service p,
.studio {
  color: var(--color-grey-text);
}
.studio-precent {
  color: var(--color-black);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.footer-contacts p,
.maket-subtitle {
  color: var(--color-grey-text-light);
}

/* Button */
.button {
  font: inherit;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-red-base);
  color: var(--color-grey-base);
  padding: 17px 39px 15px 40px;
}
.button:hover {
  background-color: var(--color-red-focus);
  color: var(--color-white);
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: var(--color-red-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}
.button__slider {
  padding: 16px 54px;
}

.button__green {
  background-color: var(--color-green-base);
}
.button__green:hover {
  background-color: var(--color-green-focus);
}
.button__green:active {
  background-color: var(--color-green-active);
}

.button__yellow {
  background-color: var(--color-yellow-base);
}
.button__yellow:hover {
  background-color: var(--color-yellow-focus);
}
.button__yellow:active {
  background-color: var(--color-yellow-active);
}

.button__grey {
  background-color: var(--color-grey-base);
  padding: 17px 89px 15px 88px;
  color: var(--color-black);
}
.button__grey:hover {
  background-color: var(--color-grey-focus);
  color: var(--color-black);
}
.button__grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--color-grey-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}

.button__footer {
  padding: 17px 45px 15px 44px;
}

.button__modal {
  padding: 17px 83px 15px;
}

.button__maket {
  padding: 17px 72px 15px;
}

.button__pagination {
  background-color: var(--color-grey-base);
  padding: 17px 20px 15px;
  color: var(--color-black);
}
.button__pagination:hover{
  background-color: var(--color-grey-focus);
  color: var(--color-black);
}
.button__pagination:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--color-grey-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}
.button__pagination--active {
  border: 3px solid var(--color-grey-light2);
  background-color: var(--color-white);
}
.button__pagination--active:active {
  color: rgba(0, 0, 0, 0.3);
  border-top: 3px rgba(0, 1, 1, 0.10) inset;
}

/* Grid */
.page {
  height: 100%;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */
.header {
  display: grid;
  background-color: var(--color-grey-base);
}
.header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo:active {
  opacity: 0.3;
}

/* Character */
.character {
  background-color: var(--color-grey-base);
}

/* Service */
.service {
  margin-bottom: 80px;
}
.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.service-item h3 {
  margin: 25px 0 16px;
}
.service-item p {
  margin: 0 0 32px;
}

/* Studio */
.studio {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 150px;
}

/* Client */
.client-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: stretch;
  text-align: center;
}
.client-logo {
  opacity: 0.2;
}
.client-logo:hover {
  opacity: 1;
}
.client-logo:active {
  opacity: 0.1;
}


/* Footer */
.footer-social {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.social-button {
  background-color: var(--color-grey-light);
  border-radius: 50px;
  padding: 30px;
  line-height: 0px;
}
.social-button:hover {
  background-color: var(--color-red-focus);
}
.social-button:active {
  background-color: var(--color-red-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}
.social-button:active img{
  opacity: 0.3;
}

.social-button-vk {
  padding: 33px 28px 33px 27px;
}

.social-button-fb{
  padding: 31px 34px 28px 35px;
}



/* catalog HTML */
.page-catalog {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "filter sort"
  "filter catalog";
}
.filter {
  grid-area: filter;
}
.sort {
  grid-area: sort;
}
.catalog {
  grid-area: catalog;
}
.h1 {
  text-align: center;
  margin: 0;
  padding: 72px 0 108px;
}

.sort-item__icon:hover {
  opacity: 0.4;
}
.sort-item__icon:active {
  opacity: 0.2;
}

.maket {
  text-align: center;
  background-color: var(--color-grey-base);
}
.maket:hover {
  background-color: var(--color-dark-grey);
}
.maket-header {
  border-radius: 3px 3px 0px 0px;
}
.maket__icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-white);
}
.maket-desk {
  background-color: var(--color-grey-base);
}
