/* Fonts */


/* Variables */
:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red-base: #FB565A;
    --color-red-focus: #E74246;
    --color-red-active: #D7373B;
    --color-green-base: #00CA74;
    --color-green-focus: #00BC6C;
    --color-green-active: #00AA62;
    --color-yellow-base: #EFC849;
    --color-yellow-focus: #EAB534;
    --color-yellow-active: #E5A722;
    --color-grey-base: #EEEEEE;
    --color-grey-focus: #DFDFDF;
    --color-grey-active: #D5D5D5;
    --color-dark-grey: #4D4D4D;
    --color-grey-light: #E1E1E1;
    --color-grey-light2: #DBDBDB;
    --color-grey-border: #D7DCDE;
    --color-grey-border-focus: #B4B9BB;
    --color-grey-text: #283136;
    --color-grey-text-light: #666666;
}

/* Global */
body {
  min-width: 960px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
header {
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
a:hover {
  color: var(--color-red-base);
}
a:active,
.sort-list:first-child .sort-item:nth-child(2) a,
.sort-list:first-child .sort-item:nth-child(3) a{
  color: rgba(0, 1, 1, 0.3);
}
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
  padding: 16px 14px;
  line-height: 18px;
  border-radius: 3px;
  border: 2px solid var(--color-grey-border);
  background: var(--color-white);
}
input:hover,
textarea:hover {
  border: 2px solid var(--color-grey-border-focus);
}
input:focus,
textarea:focus {
  border: 2px solid var(--color-black);
  color: var(--color-black);
}
input:invalid,
textarea:invalid {
  border: 2px solid var(--color-red-focus);
  color: var(--color-red-focus);
}

/* Text */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.h1 {
  color: var(--color-black);
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
}
.h2 {
  color: var(--color-black);
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
}
.h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.text-bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
legend.text-bold,
h3.text-bold {
  text-transform: uppercase;
}
.subtitle {
  color: var(--color-grey-text);
  font-weight: 700;
  text-transform: uppercase;
}
.footer-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
.footer-subtitle {
  color: var(--color-dark-grey);
  font-style: normal;
  line-height: 22px;
  margin: 10px 0 0;
}
.character p,
.service p,
.studio {
  color: var(--color-grey-text);
}
.studio-precent {
  color: var(--color-black);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  padding: 0;
  margin: 0;
}
.footer-contacts p,
.maket-subtitle {
  color: var(--color-grey-text-light);
}

/* Button */
.button {
  font: inherit;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-red-base);
  color: var(--color-grey-base);
  padding: 17px 39px 15px 40px;
}
.button:hover {
  background-color: var(--color-red-focus);
  color: var(--color-white);
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: var(--color-red-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}
.button-slider {
  padding: 16px 54px;
}

.button__green {
  background-color: var(--color-green-base);
}
.button__green:hover {
  background-color: var(--color-green-focus);
}
.button__green:active {
  background-color: var(--color-green-active);
}

.button__yellow {
  background-color: var(--color-yellow-base);
}
.button__yellow:hover {
  background-color: var(--color-yellow-focus);
}
.button__yellow:active {
  background-color: var(--color-yellow-active);
}

.button__grey {
  background-color: var(--color-grey-base);
  padding: 17px 89px 15px 88px;
  color: var(--color-black);
}
.button__grey:hover {
  background-color: var(--color-grey-focus);
  color: var(--color-black);
}
.button__grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--color-grey-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}

.button__footer {
  padding: 17px 45px 15px 44px;
}

.button__modal {
  padding: 17px 83px 15px;
}

.button__maket {
  padding: 17px 72px 15px;
}

.button__pagination {
  background-color: var(--color-grey-base);
  padding: 17px 20px 15px;
  color: var(--color-black);
}
.button__pagination:hover{
  background-color: var(--color-grey-focus);
  color: var(--color-black);
}
.button__pagination:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--color-grey-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}
.button__pagination--active {
  outline: 3px solid var(--color-grey-light2);
  outline-offset: -3px;
  background-color: var(--color-white);
}
.button__pagination--active:active {
  color: rgba(0, 0, 0, 0.3);
  border-top: 3px rgba(0, 1, 1, 0.10) inset;
}

/* Grid */
.page {
  height: 100%;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */
.header {
  display: grid;
  background-color: var(--color-grey-base);
}
.header-nav {
  padding: 55px 0 0;
  display: grid;
  grid-template-columns: 160px 437px max-content;
  justify-content: space-between;
  align-items: center;
  justify-items: start;
}
/* .header-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: center;
} */
.header-logo {
  width: 159px;
  height: 65px;
}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo:active {
  opacity: 0.3;
}
.site-nav {
  width: 437px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  align-items: center;
}
.site-nav a[href="#"] {
  padding-bottom: 16px;
  border-bottom: 2px solid var(--color-red-base);
}
.user-nav {
  max-width: 115px;
}
.user-nav a {
  padding-left: 40px;
}
.nav-link {
  padding-left: 40px;
  position: relative;
}
.nav-link:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* Character */
.character {
  background-color: var(--color-grey-base);
}
.character-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
}
.character-item div {
  width: 531px;
  height: 431px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}
.character-item .h1 {
  padding-bottom: 8px;
}
.character-text {
  padding-bottom: 26px;
  width: 410px;
}
.character-item:first-child {
  background-image: url(../img/slide-detail-1.png);
  background-repeat: no-repeat;
  background-position: right;
}
.character-item:nth-child(2){
  background-image: url(../img/slide-detail-2.png);
  background-repeat: no-repeat;
  background-position: right;
}
.character-item:nth-child(3){
  background-image: url(../img/slide-detail-3.png);
  background-repeat: no-repeat;
  background-position: right;
}
.character {
  position: relative;
}
.slider-controls {
  position: absolute;
  bottom: 94px;
  left: 48%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  width: 88px;
}
.button__slider {
  padding: 17px 54px 15px;
}
.slider-controls button {
  background-color: var(--color-white);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  padding: 0px;
  cursor: pointer;
  color: var(--color-white);
}
.current {
  outline: 2px solid var(--color-grey-border-focus);
  outline-offset: -7px;
}
.character-hidden {
  display: none;
}
/* Service */
.service {
  padding: 80px 0;
  border-bottom: 2px solid var(--color-grey-base);
}
.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.service-item h3 {
  margin: 25px 0 16px;
}
.service-item p {
  margin: 0 0 32px;
}

/* Studio */
.studio {
  padding: 39px 0 75px;
  border-bottom: 2px solid var(--color-grey-base);
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 150px;
}
.studio .h2 {
  padding: 34px 0 32px;
}
.studio-text {
  width: 650px;
}
.studio-text .subtitle {
  margin: 40px 0 32px;
}
.studio-text p {
  color: var(--color-grey-text);
}
.studio-text ul{
  list-style: none;
  padding-left: 35px;
}
.studio-text li {
  padding-bottom: 20px;
  position: relative;
}
.studio-text li:last-child {
  padding-bottom: 0px;
}
.studio-text li::before {
  position: absolute;
  content: "";
  display: inline-block;
  margin-top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: var(--color-red-base);
}
.studio-subtitle {
  width: 360px;
}
.studio-subtitle-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.studio-subtitle-list p {
  margin: 0;
}
.studio-subtitle .subtitle {
  padding-top: 37px;
  padding-left: 17px;
  margin-bottom: 36px;
}

/* Client */
.client {
  border-bottom: 2px solid var(--color-grey-base);
  margin-bottom: 80px;
}
.client-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: stretch; */
  text-align: center;
  align-items: center;
  height: 184px;
}
.client-logo {
  opacity: 0.2;
}
.client-logo:hover {
  opacity: 1;
}
.client-logo:active {
  opacity: 0.1;
}
.client-list p {
  border-right: 2px solid var(--color-grey-base);
}
.client-list p:last-child {
  border: none;
}

/* Footer */
.footer-contacts {
  background-image: url("../img/map-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 416px;
}
.footer-contacts .container {
  padding: 54px 0;
}
.footer-map {
  background-color: var(--color-white);
  padding: 49px 50px 19px;
  width: max-content;
}
.footer-map h3{
  margin: 0 0 22px;
}
.footer-map p{
  margin: 0 0 12px;
}
.footer-map p:last-child{
  margin: 37px 0 47px;
}
.footer-social {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-items: center;
  /* display: flex; */
  margin: 68px 0;
}
.social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}
.social-button {
  background-color: var(--color-grey-light);
  border-radius: 50px;
  height: 81px;
  width: 81px;
}
.social-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.social-button:hover {
  background-color: var(--color-red-focus);
}
.social-button:active {
  background-color: var(--color-red-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}
.social-button:active img{
  opacity: 0.3;
}
.social-text {
  padding-left: 135px;
}

/* catalog HTML */
.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-areas:
  "filter sort"
  "filter catalog";
  column-gap: 140px;
}
.filter {
  grid-area: filter;
}
.sort {
  grid-area: sort;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}
.catalog {
  grid-area: catalog;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 60px;
  column-gap: 40px;
  row-gap: 30px;
}
.header-catalog {
  margin-bottom: 55px;
}
.header-catalog .h1{
  padding: 72px 0 108px;
  text-align: center;
}
.h1 {
  margin: 0;
}


.sort .text-bold {
  margin: 0;
}
.sort-type {
  display: flex;
  justify-content: space-between;
}
.sort-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sort-list:first-child {
  column-gap: 25px;
}
.sort-item a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-item__icon:hover {
  opacity: 0.4;
}
.sort-item__icon:active {
  opacity: 0.2;
}

.maket {
  width: 358px;
  min-height: 619px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  /* border: 1px solid var(--color-green-active); */
}
.maket-header {
  display: flex;
  column-gap: 9px;
  background-color: var(--color-grey-base);
  padding: 13px 15px;
  border-radius: 3px 3px 0px 0px;
}
.maket:hover > .maket-header {
  background-color: var(--color-dark-grey);
}
.maket:hover > .maket-main img {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  outline: none;
}
.maket:hover > .maket-desk {
  display: block;
}
.maket__icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-white);
}
.maket-main img {
  width: 358px;
  height: 578px;
  margin: 0;
  outline: 1px solid var(--color-grey-base);
  /* outline-offset: -1px; */
  border-radius: 0px 0px 3px 3px;
}
.maket-desk {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 358px;
  background-color: var(--color-grey-base);
  padding: 26px 0 44px 0;
  border-radius: 0px 0px 3px 3px;
  display: none;
}
.maket-desk p:first-child {
  margin: 0 0 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.maket-subtitle {
  padding-bottom: 32px;
  line-height: 18px;
  margin: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  column-gap: 11px;
  /* margin-top: 14px; */
}
.button__pagination {
  display: block;
  margin-top: 7px;
}

/* Filter */
.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.filter-form fieldset:first-child {
  margin-bottom: 54px;
}
.filter-form fieldset:nth-child(2) {
  margin-bottom: 43px;
}
.filter-form fieldset:nth-child(3) {
  margin-bottom: 48px;
}
.filter-form fieldset:first-child legend {
  margin-bottom: 48px;
}
.filter-form fieldset:nth-child(2) legend {
  margin-bottom: 13px;
}
.filter-form fieldset:nth-child(3) legend  {
  margin-bottom: 14px;
}
.filter-form label {
  color: var(--color-grey-text);
  line-height: 20px;
}

.filter-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-item {
  padding-left: 30px;
  margin-bottom: 15px;
}
.filter-radio, .filter-checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 5px;
}
.filter-input-radio:hover + .filter-radio::before {
  opacity: 1;
}
.filter-input-radio:focus-visible + .filter-radio::before {
  opacity: 1;
}
.filter-input-radio:disabled + .filter-radio::before {
  opacity: 0.2;
}
.filter-input-radio + .filter-radio::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  width: 18px;
  height: 18px;
  border: 4px solid var(--color-dark-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + .filter-radio::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -22px;
  width: 10px;
  height: 10px;
  background-color: var(--color-dark-grey);
  border-radius: 50%;
  opacity: 0.4;
}
.filter-input-radio:hover + .filter-radio::after {
  opacity: 1;
}
.filter-input-radio:focus-visible + .filter-radio::after {
  opacity: 1;
}
.filter-input-radio:disabled + .filter-radio::after {
  opacity: 0.2;
}

/* checkbox */
.filter-input-checkbox + .filter-checkbox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  height: 23px;
  width: 23px;
  background-image: url(../img/icon/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-checkbox:checked + .filter-checkbox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  height: 23px;
  width: 25px;
  background-image: url(../img/icon/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-checkbox:hover + .filter-checkbox::before {
  opacity: 1;
}
.filter-input-checkbox:focus-visible + .filter-checkbox::before {
  opacity: 1;
}
.filter-input-checkbox:disabled + .filter-checkbox::before {
  opacity: 0.2;
}
/* range */
.range-control {
  position: relative;
  width: 260px;
  height: 41px;
  background-color: var(--color-grey-base);
  border-radius: 3px;
  padding: 39px 22px 0;
}
.range-control .scale {
  height: 2px;
  background-color: var(--color-grey-border);
}
.range-control .bar {
  width: 70%;
  height: 2px;
  background-color: var(--color-green-base);
}
.range-control .toggle {
  position: absolute;
  top: 28px;
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-grey-text-light);
  border: 10px solid var(--color-white);
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}
.range-control .toggle-max {
  left: 180px;
}
.price {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}
.price label {
  text-transform: uppercase;
}
.price input {
  width: 80px;
  height: 38px;
  padding: 0;
  margin-left: 12px;
  background-color: var(--color-grey-base);
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}

/* Модальное окно */
.modal {
  position: fixed;
  width: 860px;
  bottom: 200px;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.40);
  padding: 52px 100px 84px;
  z-index: 30;
  display: grid;
  grid-template-columns: 1fr 21px;
  justify-content: space-between;
  grid-template-areas:
    "h2 close"
    "modal modal";
  align-items: center;
}
.form-hidden {
  display: none;
}
.container .modal {
  margin-left: 100px;
}
.modal .h2 {
  font-weight: 700;
  grid-area: h2;
}
.modal-close {
  background-image: url(../img/icon/close.svg);
  width: 21px;
  height: 21px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.3;
  padding: 0;
  grid-area: close;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close:focus {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.1;
}
.modal-form {
  grid-area: modal;
  margin-top: 37px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name email"
    "message message"
    "button .";
  column-gap: 60px;
  row-gap: 34px;
}
.modal-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.modal-item:first-child {
  grid-area: name;
}
.modal-item:nth-child(2) {
  grid-area: email;
}
.modal-item:nth-child(3) {
  grid-area: message;
}
.modal-item:nth-child(4) {
  grid-area: button;
}
.modal-item input {
  display: block;
  margin-top: 9px;
  width: 100%;
}
.modal-item textarea {
  margin-top: 9px;
  display: block;
  width: 760px;
  width: 100%;
}
.button__modal {
  margin-top: 13px;
  width: 259px;
}

/* Пустая страница blank */
.header-blank {
  padding-bottom: 55px;
}
